<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/home.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Отлично👍</title>
  </head>
  <body>
    <header class="header">
      <ul
        class="header__list list-unstyled d-flex justify-content-evenly w-100 bg-info"
      >
        <li class="header__list-item">
          <a class="list-item__link text-primary fw-bold" href="">Register</a>
        </li>
        <li class="header__list-item">
          <a class="list-item__link text-primary fw-bold" href="">Login</a>
        </li>
        <li class="header__list-item">
          <a class="list-item__link text-primary fw-bold" href="">Contact</a>
        </li>
      </ul>
      <div class="row">
        <div class="col-4">
          <img
            src="./assets/images/vizitka.svg"
            alt="Otlichno logo"
            width=""
            height=""
          />
        </div>
        <div class="col-4">
          <h4 class="info ps-4">
            O`quv markazimizdagi Kurslarimiz faqat Rus tiliga yo`naltirilgan
            bo`lib Buning qulayliklari: <br />
            <br />
            <a href="">1: Ayollar uchun alohida kurslarimiz,</a> <br />
            2: Bolalar uchun alohida kurslarimiz, <br />
            3: Kattalar uchun alohida kurslarimiz, <br />
            4: Online xolatda xam kurslarimiz mavjud
          </h4>
        </div>
        <div class="col-4">
          <img
            src="./assets/images/otlichno_outside.jpg"
            alt="otlichno"
            width="350"
            height="350"
          />
        </div>
      </div>
    </header>
    <footer>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95828.26700226091!2d69.21909!3d41.352467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8c479e45ded7%3A0xb0939da2a41a79de!2sAlmazar%20District%2C%20Tashkent%2C%20Uzbekistan!5e0!3m2!1sen!2s!4v1644045248989!5m2!1sen!2s"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
      https://maps.windows.com/?form=WNAMSH&collection=point.41.352467_69.21909_Point
    </footer>
  </body>
</html>
