.login_form {
  border: 3px solid #6f42c1;
}

.heading {
  color: #6f42c1;
}

.main {
  position: relative;
  height: 250px;
}

.login_form {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(50%);
  transform: translateX(50%);
}

.submit-btn {
  background-color: #6f42c1;
  color: white;
}
