<header class="header p-3 w-100">
  <div class="row d-flex align-items-center">
    <div class="col-8 d-flex justify-content-evenly align-items-center">
      <h3 class="center-name text-light">Оooтлично 👍</h3>
      <a class="header-info text-light text-decoration-none" href="#"
        >Ma`lumot</a
      >
      <a class="header-info text-light text-decoration-none" href="#"
        >Mavjud kurslar</a
      >
    </div>
    <div class="col-4 d-flex">
      <p class="text-light m-0 me-2">Tel:</p>
      <a
        class="tel-link me-3 text-light text-decoration-none d-block"
        href="tel:+998998054812"
        >+998998054812</a
      >
      <a
        class="tel-link text-light text-decoration-none d-block"
        href="tel:+998992242727"
        >+998992242727</a
      >
    </div>
  </div>
</header>
